<!doctype html>
<html>
  <head>
    <title>Final Project</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Final Project</h1>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="view-statistics">View-statistics</a></p>
  </body>
</html>
