<!DOCTYPE html>
<html>
<head>
  <title>View Statistics</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <!-- Include p5.js library -->
  <script src="lib/p5.min.js"></script>
</head>
<body>
  <h1>View Statistics</h1>
  <div id="app" class="container">
    <!-- Add the canvas for the p5.js visualization -->
    <canvas id="statisticsCanvas" width="400" height="400"></canvas>
  </div>
  <script src="/view-statistics.js"></script>
</body>
</html>